<div
  class="container-fluid mb-5 pb-5 d-flex align-items-center section-container"
>
  <div class="mainRow row">
    <!-- Partie gauche -->
    <div class="col-md-6 text-white content-left">
      <p class="motto">Innover. Inspirer. Impactez.</p>
      <h1 class="title">
        CONFÉRENCE <br />
        ANNUELLE
      </h1>
      <p class="description">
        Participez à notre conférence annuelle pour découvrir les idées de
        demain, rencontrer des leaders du secteur et façonner l’avenir ensemble.
      </p>
    </div>

    <!-- Partie droite -->
    <div class="col-md-6 content-right">
      <div class="image-container">
        <img src="image_conference.png" alt="Conférencière" />
      </div>
    </div>
  </div>
</div>
<div class="container event-details mt-5">
  <div class="title-container">
    <h2 class="section-title">Planification</h2>
    <p class="description">
      Consultez les détails essentiels de l’événement : la date, le lieu, les
      horaires, et les activités prévues, afin de bien vous préparer pour une
      expérience réussie.
    </p>
  </div>

  <div class="info-container">
    <div class="info-box">
      <div class="location-container">
        <div class="location-icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
      </div>
      <span class="info-text">LIEU</span>
      <p class="info-details">
        L’esplanade du tour de la grande muraille de Dakar. Rue.3-FSD.Chateau
      </p>
    </div>
    <div class="box"></div>
    <div class="info-box">
      <div class="location-container">
        <div class="location-icon">
          <i class="fas fa-calendar-alt"></i>
        </div>
      </div>

      <span class="info-text">DATE</span>
      <p class="info-details">
        Du Mardi 31 Février 2053 au Vendredi 34 Février 2053
      </p>
    </div>
    <div class="box"></div>
    <div class="info-box">
      <div class="location-container">
        <div class="location-icon">
          <i class="fas fa-link"></i>
        </div>
      </div>

      <span class="info-text">LIEN DE DIFFUSION</span>
      <p class="info-details">
        <a
          href="https://meet.google.com/msf-bshz-rza"
          target="_blank"
          style="color: rgb(103, 103, 103); text-decoration: none"
          >https://meet.google.com/msf-bshz-rza</a
        >
      </p>
    </div>
  </div>
</div>
<div class="profile-card">
  <div class="profile-name">Maimouna Ndiaye</div>
  <div class="bottom-section d-flex">
    <div class="profile_div-img">
      <img src="profile.jpg" alt="Maimouna Ndiaye" class="profile-img" />
    </div>

    <div class="profile-text mt-5">
      <p>
        Passionné par le marketing stratégique et opérationnel, avec plus de 5
        ans d'expérience dans la gestion de projets marketing et la coordination
        d'équipes. Spécialisé dans le développement de campagnes multi-canaux,
        la gestion de budget, et l’analyse des performances.....
      </p>
      <div class="social-icons mb-5 mt-2">
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
        <a href="#"><i class="bi bi-x"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
      </div>
      <div class="mt-4 ms-5 btn-profile">
        <button class="btn btn-subscribe mx-4">S’abonner</button>
        <button class="btn btn-message">Écrire</button>
      </div>
    </div>
  </div>
</div>
<div class="container Intervenant-section my-5">
  <div class="title-container my-5">
    <h2 class="section-title">Intervenants</h2>
    <p class="description">
      Des experts passionnés prêts à partager leurs connaissances et expériences
      uniques.
    </p>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="pexels-ono-kosuki-6000051.jpg" alt="Profil Photo" />
      <h4>Adja Soukeyna Diop</h4>
      <p><strong>CEO & CO-FOUNDER</strong></p>
      <p class="my-4">
        Analyste de données clients pour identifier des tendances clés,
        augmentant les ventes de 20 % en un trimestre.
      </p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="pexels-cottonbro-7804883.jpg" alt="Profil Photo" />
      <h4>Nazar A I Taha</h4>
      <p><strong>CTO & Co-Founder</strong></p>
      <p class="my-4">
        Chef d'une campagne digitale multi-plateformes ayant généré une hausse
        de 25 % des conversions.
      </p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="pexels-artempodrez-6786908.jpg" alt="Profil Photo" />
      <h4>Mouhamadou A Sow</h4>
      <p><strong>VP of Marketing</strong></p>
      <p class="my-4">
        Supervieur d'un projet de développement logiciel de 6 mois, livré en
        avance avec une économie de 10 % sur le budget.
      </p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>
  <button class="btn mt-5 voirPlus">
    <i class="fas fa-search"></i> Voir plus <i class="fas fa-arrow-right"></i>
  </button>
</div>

<div class="container Chronogramme">
  <div class="title-container mb-5">
    <h2 class="section-title">Chronogramme</h2>
  </div>
  <div class="timeline">
    <div class="timeline-item">
      <div class="content left">
        <div class="icon">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3063/3063828.png"
            alt="Présentation"
          />
        </div>
        <h5 class="title">PRESENTATION</h5>
        <p class="text">
          La présentation de l’événement sera dynamique et captivante, avec des
          intervenants clés, des projections multimédias.
        </p>
      </div>
      <div class="circle-container">
        <div class="circle">9H00</div>
      </div>
    </div>
    <div class="line"></div>
    <div class="timeline-item timeline-right">
      <div class="circle-container">
        <div class="circle">10H00</div>
      </div>

      <div class="content right">
        <div class="icon">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2910/2910784.png"
            alt="Panel"
          />
        </div>
        <h5 class="title" style="color: red">PANEL</h5>
        <p class="text">
          Le panel sera une discussion enrichissante entre experts, animée
          autour de thèmes clés, avec des échanges interactifs.
        </p>
      </div>
    </div>
    <div class="line"></div>
    <div class="timeline-item">
      <div class="content left">
        <div class="icon">
          <img
            src="https://cdn-icons-png.flaticon.com/512/847/847969.png"
            alt="Parole au Public"
          />
        </div>
        <h5 class="title">PAROLE AU PUBLIC</h5>
        <p class="text">
          La parole sera donnée au public pour poser des questions, partager des
          idées et interagir directement avec les intervenants.
        </p>
      </div>
      <div class="circle-container">
        <div class="circle">11H00</div>
      </div>
    </div>
    <div class="line"></div>
    <div class="timeline-item timeline-right">
      <div class="circle-container">
        <div class="circle">13H00</div>
      </div>

      <div class="content right">
        <div class="icon">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3132/3132693.png"
            alt="Cocktail"
          />
        </div>
        <h5 class="title">COCKTAIL</h5>
        <p class="text">
          Le cocktail offrira un moment convivial de networking, avec une
          sélection raffinée de mets et boissons.
        </p>
      </div>
    </div>
    <div class="line"></div>
    <div class="timeline-item">
      <div class="content left">
        <div class="icon">
          <img
            src="https://cdn-icons-png.flaticon.com/512/847/847969.png"
            alt="Parole au Public"
          />
        </div>
        <h5 class="title">REMISE DE CADEAUX</h5>
        <p class="text">
          La remise de cadeaux sera un moment spécial pour remercier les
          participants et partenaires, avec une distribution élégante et
          personnalisée pour clôturer l’événement sur une note chaleureuse.
        </p>
      </div>
      <div class="circle-container">
        <div class="circle">14H00</div>
      </div>
    </div>
    <div class="line"></div>
    <div class="timeline-item timeline-right">
      <div class="circle-container">
        <div class="circle">15H00</div>
      </div>

      <div class="content right">
        <div class="icon">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3132/3132693.png"
            alt="Cocktail"
          />
        </div>
        <h5 class="title">MOTS DE LA FIN</h5>
        <p class="text">
          Les mots de la fin viendront conclure l’événement avec un message
          d’inspiration et de gratitude, soulignant les moments forts et ouvrant
          la voie à de futures collaborations
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container Avis my-5">
  <div class="title-container my-5">
    <h2 class="section-title">Avis</h2>
    <p class="description">
      Partagez vos attentes et impressions sur l'événement à venir : votre avis
      compte pour nous !
    </p>
  </div>
  <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-header">
                <div class="testimonial-info">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3063/3063828.png"
                    alt="Présentation"
                    class="profile-img"
                  />
                  <div>
                    <strong>Azhar Taymi</strong>
                    <div class="small">Lorem, address</div>
                  </div>
                </div>
                <div class="rating">
                  <strong>4.5</strong>
                </div>
              </div>
              <div class="testimonial-text">
                “L’aperçu du contenu donne envie d’y être. Je suis
                particulièrement impatient de participer aux panels et aux
                discussions interactives“
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-header">
                <div class="testimonial-info">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3063/3063828.png"
                    alt="Présentation"
                    class="profile-img"
                  />
                  <div>
                    <strong>Azhar Taymi</strong>
                    <div class="small">Lorem, address</div>
                  </div>
                </div>
                <div class="rating">
                  <strong>4.5</strong>
                </div>
              </div>
              <div class="testimonial-text">
                “L’aperçu du contenu donne envie d’y être. Je suis
                particulièrement impatient de participer aux panels et aux
                discussions interactives“
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-header">
                <div class="testimonial-info">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3063/3063828.png"
                    alt="Présentation"
                    class="profile-img"
                  />
                  <div>
                    <strong>Azhar Taymi</strong>
                    <div class="small">Lorem, address</div>
                  </div>
                </div>
                <div class="rating">
                  <strong>4.5</strong>
                </div>
              </div>
              <div class="testimonial-text">
                “L’aperçu du contenu donne envie d’y être. Je suis
                particulièrement impatient de participer aux panels et aux
                discussions interactives“
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-header">
                <div class="testimonial-info">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3063/3063828.png"
                    alt="Présentation"
                    class="profile-img"
                  />
                  <div>
                    <strong>Azhar Taymi</strong>
                    <div class="small">Lorem, address</div>
                  </div>
                </div>
                <div class="rating">
                  <strong>4.5</strong>
                </div>
              </div>
              <div class="testimonial-text">
                “L’aperçu du contenu donne envie d’y être. Je suis
                particulièrement impatient de participer aux panels et aux
                discussions interactives“
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-header">
                <div class="testimonial-info">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3063/3063828.png"
                    alt="Présentation"
                    class="profile-img"
                  />
                  <div>
                    <strong>Azhar Taymi</strong>
                    <div class="small">Lorem, address</div>
                  </div>
                </div>
                <div class="rating">
                  <strong>4.5</strong>
                </div>
              </div>
              <div class="testimonial-text">
                “L’aperçu du contenu donne envie d’y être. Je suis
                particulièrement impatient de participer aux panels et aux
                discussions interactives“
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="testimonial-card">
              <div class="testimonial-header">
                <div class="testimonial-info">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3063/3063828.png"
                    alt="Présentation"
                    class="profile-img"
                  />
                  <div>
                    <strong>Azhar Taymi</strong>
                    <div class="small">Lorem, address</div>
                  </div>
                </div>
                <div class="rating">
                  <strong>4.5</strong>
                </div>
              </div>
              <div class="testimonial-text">
                “L’aperçu du contenu donne envie d’y être. Je suis
                particulièrement impatient de participer aux panels et aux
                discussions interactives“
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-control-div">
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#testimonialCarousel"
        data-bs-slide="prev"
      >
        <i class="fas fa-chevron-right text-white fs-3"></i>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#testimonialCarousel"
        data-bs-slide="next"
      >
        <i class="fas fa-chevron-left fs-3"></i>
      </button>
    </div>
  </div>
  <div class="comment-container">
    <label class="comment-label">Avez-vous un avis ?</label>
    <input type="text" class="comment-input" placeholder="Commentez..." />
  </div>
</div>

<div class="container EventSimilar my-5">
  <div class="title-container my-5">
    <h2 class="section-title">Événements similaires</h2>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipiscing elit volutpat gravida
      malesuada quam commodo id integer nam.
    </p>
  </div>
  <div class="container">
    <div class="row g-5">
      <!-- Événement 1 -->
      <div class="col-md-4">
        <div class="event-card">
          <img src="bold_bight.png" alt="Conférence" class="event-img" />
          <h5 class="event-title my-4">Sommet des Idées</h5>
          <p class="event-desc my-3">
            Explorez des perspectives inspirantes et partagez des idées
            novatrices lors du Sommet des Idées.
          </p>
          <div class="stars">★★★★★</div>
        </div>
      </div>

      <!-- Événement 2 -->
      <div class="col-md-4 middle-element">
        <div class="event-card">
          <img
            src="Black_neon.png"
            alt="Business Conference"
            class="event-img"
          />
          <h5 class="event-title my-4">2024 Business Forward</h5>
          <p class="event-desc my-3">
            Anticipez les tendances et connectez avec des leaders visionnaires à
            la 2024 Business Forward Conference.
          </p>
          <div class="stars">★★☆☆☆</div>
        </div>
      </div>

      <!-- Événement 3 -->
      <div class="col-md-4">
        <div class="event-card">
          <img src="marche_noel.png" alt="Party" class="event-img" />
          <h5 class="event-title my-4">Midnight Vibes</h5>
          <p class="event-desc my-3">
            Dansez, vibrez, et vivez une nuit inoubliable sous les étoiles lors
            de Midnight Vibes.
          </p>
          <div class="stars">★★★★★</div>
        </div>
      </div>
    </div>
  </div>
</div>
