<div class="profile-card">
  <img
    src="assets/images/pexels-emmy-e-1252107-2381069.jpg"
    style="position: relative; display: inline-block"
    alt="Profile Photo"
  />

  <div class="rond">
    <img
      src="assets/images/pexels-emmy-e-1252107-2381069.jpg"
      alt="Profile Photo"
    />
  </div>

  <div class="container profile-info">
    <div>
      <h1>Maimouna Ndiaye</h1>
      <p>Master en IA | Travail chez Intel</p>
    </div>
    <div class="but">
      <button class="abo">+ S'abonner</button>
      <button class="mess">💬 Message</button>
    </div>
  </div>
  <div class="stats">
    <div class="stat">
      <div>
        <h3>10k</h3>
        <p>Publications</p>
        <p>_________</p>
      </div>
      <div>
        <h3>528</h3>
        <p>Suivis</p>
        <p>_________</p>
      </div>
      <div>
        <h3>1.2k</h3>
        <p>Followers</p>
      </div>
    </div>
    <div class="im">
      <img
        class="danse"
        src="assets/images/pexels-apasaric-2078071.jpg"
        alt=""
      />
    </div>
  </div>
</div>
<div class="note">
  <div class="left-note">
    <div>
      Les plus notés &nbsp;&nbsp;&nbsp; <i class="fas fa-chevron-down"></i>
    </div>
    <div>Type &nbsp;&nbsp;&nbsp; <i class="fas fa-chevron-down"></i></div>
  </div>
  <div class="right-note">
    Catégorie &nbsp;&nbsp;&nbsp; <i class="fas fa-chevron-down"></i>
  </div>
</div>
<div class="im6">
  <div class="cadre">
    <img class="imm" src="assets/images/pexels-rdne-7648227.jpg" alt="" />
    <div class="texte">
      <div>
        <div class="mois">Avr</div>
        <div class="jour">14</div>
      </div>
      <div>
        Participez à notre initiative solidaire : offrez un repas et apportez le
        sourire à ceux qui en ont besoin !
        <div class="bas">
          Explorez, exprimez, éclairez : partagez votre avis aujourd'hui !
        </div>
      </div>
    </div>
  </div>
  <div class="cadre">
    <img
      class="imm"
      src="assets/images/pexels-henri-mathieu-8348739.jpg"
      alt=""
    />
    <div class="texte">
      <div>
        <div class="mois">Aut</div>
        <div class="jour">20</div>
      </div>
      <div>
        Rejoignez notre hackathon et transformez vos idées en solutions
        innovantes en 48 heures....
        <div class="bas">
          Votre opinion compte : découvrez et faites entendre votre voix !
        </div>
      </div>
    </div>
  </div>
</div>
<div class="im6">
  <div class="cadre">
    <img
      class="imm"
      src="assets/images/pexels-pavel-danilyuk-8761727.jpg"
      alt=""
    />
    <div class="texte">
      <div>
        <div class="mois">Sep</div>
        <div class="jour">18</div>
      </div>
      <div>
        Découvrez notre univers lors de notre journée portes ouvertes :
        échanges, découvertes et opportunités vous attendent !
        <div class="bas">
          Donnez votre avis, c'est rapide, facile et important !
        </div>
      </div>
    </div>
  </div>

  <div class="cadre">
    <img
      class="imm"
      src="assets/images/pexels-henri-mathieu-8349230.jpg"
      alt=""
    />
    <div class="texte">
      <div>
        <div class="mois">Aut</div>
        <div class="jour">20</div>
      </div>
      <div>
        Exprimez vos idées avec puissance et passion lors de notre concours
        d'éloquence inoubliable !
        <div class="bas">
          Un clic suffit pour découvrir et laisser votre empreinte !
        </div>
      </div>
    </div>
  </div>
</div>
<div class="im6">
  <div class="cadre">
    <img class="imm" src="assets/images/pexels-tobitnazar-3114072.jpg" alt="" />
    <div class="texte">
      <div>
        <div class="mois">Sep</div>
        <div class="jour">18</div>
      </div>
      <div>
        Profitez d'une journée de consultations gratuites : votre bien-être,
        notre priorité !
        <div class="bas">
          Découvrez ce qui vous inspire et partagez ce que vous pensez !
        </div>
      </div>
    </div>
  </div>
  <div class="cadre">
    <img class="imm" src="assets/images/pexels-apasaric-2078071.jpg" alt="" />
    <div class="texte">
      <div>
        <div class="mois">Avr</div>
        <div class="jour">14</div>
      </div>
      <div>
        Une soirée dansante animée, où musique, rires et mouvements se
        mêlent....
        <div class="bas">
          Cliquez, découvrez, partagez votre point de vue dès maintenant !
        </div>
      </div>
    </div>
  </div>
</div>
