<div class="container-fluid">
  <div class="row auth-container">
    <!-- Section gauche -->
    <div class="col-md-6 auth-left text-center">
      <img
        src="logo_sen_event-removebg-preview.png"
        alt="Sen Event"
        class="mb-5"
        style="max-width: 300px"
      />
      <h1>Rejoignez SEN-EVENT</h1>
      <p>et ne manquez plus aucun événement qui compte pour vous</p>
    </div>
    <!-- Section droite -->
    <div class="col-md-6 auth-right">
      <!-- Contenu des formulaires -->
      <div class="tab-content mt-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
