<section class="hero-section mb-5">
  <div class="">
    <div class="row align-items-center">
      <div class="container col-lg-6 hero-content">
        <h1 class="container hero-title">Les événements</h1>
        <p class="hero-subtitle">
          Trouvez des évènements de qualité suivants vos centres d'intérêt !
        </p>
      </div>
      <div class="hero-img-content col-lg-6">
        <img
          src="/assets/img/freepik-export-20241206090012Bdn2.png"
          alt="Events Planning"
          class="hero-image"
        />
      </div>
    </div>
  </div>
</section>
<div class="container">
  <!-- Search Section -->
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      placeholder="Rechercher des événements"
    />
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <!-- Filters Section -->
  <div class="d-flex justify-content-between align-items-center filter-tabs">
    <div>
      <button class="filter-tab">
        <i class="fas fa-image"></i> Photos
        <span class="filter-count">624.9K</span>
      </button>
      <button class="filter-tab">
        <i class="fas fa-video"></i> Vidéos
        <span class="filter-count">134.9K</span>
      </button>
      <button class="filter-tab active">
        <i class="fas fa-calendar"></i> All
        <span class="filter-count">748.15K</span>
      </button>
    </div>
    <select class="sort-dropdown">
      <option value="recent">Les plus notés</option>
      <option value="popular">Les plus populaires</option>
      <option value="upcoming">À venir</option>
    </select>
  </div>
  <div class="row g-5 my-5">
    <!-- Événement 1 -->
    <div class="col-md-4" routerLink="/events/evenement">
      <div class="event-card">
        <img
          src="assets/img/Affiche Promotion Évènement Marathon Sport Moderne Noir Vert.png"
          alt="Marathon"
          class="event-image"
        />
        <h5 class="event-title my-4">La Course des Légendes</h5>
        <p class="event-desc my-3">
          Renouelez vos limites et vivez l'expérience unique de ce marathon !
        </p>
        <div class="stars">★★★★★</div>
      </div>
    </div>

    <!-- Événement 2 -->
    <div class="col-md-4 middle-element">
      <div class="event-card">
        <img
          src="assets/img/Affiche Poster Évènement Festival Musique Jazz Moderne Photo Marron.png"
          alt="Jazz Festival"
          class="event-image"
        />
        <h5 class="event-title my-4">Jazz en Harmonie</h5>
        <p class="event-desc my-3">
          Plongez dans l'univers envoûtant des mélodies lors du Festival Jazz
          Rhizome !
        </p>
        <div class="stars">★★☆☆☆</div>
      </div>
    </div>

    <!-- Événement 3 -->
    <div class="col-md-4" routerLink="/events/evenement">
      <div class="event-card">
        <img
          src="assets/img/Affiche marché de noël minimaliste or doré.png"
          alt="Marché de Noël"
          class="event-image"
        />
        <h5 class="event-title my-4">Le Village Enchanté de Noël</h5>
        <p class="event-desc my-3">
          Vivez la magie des fêtes au Village Enchanté de Noël : artisanat,
          gourmandises et merveilles vous attendent !
        </p>
        <div class="stars">★★★★★</div>
      </div>
    </div>
  </div>
  <div class="row g-5 my-5">
    <!-- Événement 1 -->
    <div class="col-md-4" routerLink="/events/evenement">
      <div class="event-card">
        <img src="bold_bight.png" alt="Conférence" class="event-image" />
        <h5 class="event-title my-4">Sommet des Idées</h5>
        <p class="event-desc my-3">
          Explorez des perspectives inspirantes et partagez des idées novatrices
          lors du Sommet des Idées.
        </p>
        <div class="stars">★★★★★</div>
      </div>
    </div>

    <!-- Événement 2 -->
    <div class="col-md-4 middle-element">
      <div class="event-card">
        <img
          src="Black_neon.png"
          alt="Business Conference"
          class="event-image"
        />
        <h5 class="event-title my-4">Midnight Vibes</h5>
        <p class="event-desc my-3">
          Dansez, vibrez, et vivez une nuit inoubliable sous les étoiles lors de
          Midnight Vibes.
        </p>

        <div class="stars">★★☆☆☆</div>
      </div>
    </div>

    <!-- Événement 3 -->
    <div class="col-md-4" routerLink="/events/evenement">
      <div class="event-card">
        <img
          src="assets/img/Affiche conférence entreprise simple vert.png"
          alt="Marathon"
          class="event-image"
        />
        <h5 class="event-title my-4">Sommet des Idées</h5>
        <p class="event-desc my-3">
          Explorez des perspectives inspirantes et partagez des idées novatrices
          lors du Sommet des Idées.
        </p>

        <div class="stars">★★★★★</div>
      </div>
    </div>
  </div>
  <div class="row g-5 my-5">
    <!-- Événement 1 -->
    <div class="col-md-4" routerLink="/events/evenement">
      <div class="event-card">
        <img
          src="/assets/img/Blue and White Geometric Shapes Conference Poster.png"
          alt="Conférence"
          class="event-image"
        />
        <h5 class="event-title my-4">2024 Business Forward</h5>
        <p class="event-desc my-3">
          Anticipez les tendances et connectez avec des leaders visionnaires à
          la 2024 Business Forward Conference.
        </p>
        <div class="stars">★★★★★</div>
      </div>
    </div>

    <!-- Événement 2 -->
    <div class="col-md-4 middle-element">
      <div class="event-card">
        <img
          src="/assets/img/Blue Gold Modern Online Business Webinar Poster.png"
          alt="Business Conference"
          class="event-image"
        />
        <h5 class="event-title my-4">2024 Business Forward</h5>
        <p class="event-desc my-3">
          Anticipez les tendances et connectez avec des leaders visionnaires à
          la 2024 Business Forward Conference.
        </p>
        <div class="stars">★★☆☆☆</div>
      </div>
    </div>

    <!-- Événement 3 -->
    <div class="col-md-4" routerLink="/events/evenement">
      <div class="event-card">
        <img
          src="assets/img/Affiche Annonce Évènement Soirée Rock Concert Moderne Photo noir Jaune Violet.png"
          alt="Marché de Noël"
          class="event-image"
        />
        <h5 class="event-title my-4">Midnight Vibes</h5>
        <p class="event-desc my-3">
          Dansez, vibrez, et vivez une nuit inoubliable sous les étoiles lors de
          Midnight Vibes.
        </p>
        <div class="stars">★★★★★</div>
      </div>
    </div>
  </div>
  <div class="row g-5 my-5">
    <!-- Événement 1 -->
    <div class="col-md-4" routerLink="/events/evenement">
      <div class="event-card">
        <img src="bold_bight.png" alt="Conférence" class="event-image" />
        <h5 class="event-title my-4">Sommet des Idées</h5>
        <p class="event-desc my-3">
          Explorez des perspectives inspirantes et partagez des idées novatrices
          lors du Sommet des Idées.
        </p>
        <div class="stars">★★★★★</div>
      </div>
    </div>

    <!-- Événement 2 -->
    <div class="col-md-4 middle-element">
      <div class="event-card">
        <img
          src="Black_neon.png"
          alt="Business Conference"
          class="event-image"
        />
        <h5 class="event-title my-4">2024 Business Forward</h5>
        <p class="event-desc my-3">
          Anticipez les tendances et connectez avec des leaders visionnaires à
          la 2024 Business Forward Conference.
        </p>
        <div class="stars">★★☆☆☆</div>
      </div>
    </div>

    <!-- Événement 3 -->
    <div class="col-md-4" routerLink="/events/evenement">
      <div class="event-card">
        <img
          src="assets/img/Affiche conférence entreprise simple vert.png"
          alt="Marathon"
          class="event-image"
        />
        <h5 class="event-title my-4">Midnight Vibes</h5>
        <p class="event-desc my-3">
          Dansez, vibrez, et vivez une nuit inoubliable sous les étoiles lors de
          Midnight Vibes.
        </p>
        <div class="stars">★★★★★</div>
      </div>
    </div>
  </div>
</div>
<!-- Pagination Section -->
<div class="pagination-container d-flex justify-content-center my-4">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item mx-1 disabled">
        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
      </li>
      <li class="page-item mx-1 active"><a class="page-link" href="#">1</a></li>
      <li class="page-item mx-1">
        <a class="page-link" href="/events?page=2">2</a>
      </li>
      <li class="page-item mx-1">
        <a class="page-link" href="/events?page=3">3</a>
      </li>
      <li class="page-item mx-1 disabled">
        <a class="page-link" href="#">...</a>
      </li>
      <li class="page-item mx-1">
        <a class="page-link" href="/events?page=10">10</a>
      </li>
      <li class="page-item mx-1">
        <a class="page-link" href="/events?page=2">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>
