<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Liens Utiles -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="footer-heading">Liens Utiles</h5>
        <ul class="list-unstyled footer-links footer-list">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">À propos de nous</a></li>
          <li><a href="#">Témoignages</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="footer-heading">Contactez-nous</h5>
        <ul class="list-unstyled contact-info footer-list white">
          <li>
            <i class="fas fa-map-marker-alt"></i>
            Place de l'Indépendance<br />
            Rue de la République<br />
            BP 302, Dakar, Sénégal
          </li>
          <li>
            <i class="fas fa-phone"></i>
            33 998 288 300/00221 776639940
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            senEventexample.com
          </li>
        </ul>
      </div>

      <!-- Événements -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="footer-heading">Événements</h5>
        <ul class="list-unstyled footer-links footer-list">
          <li><a href="#">Événements scientifiques</a></li>
          <li><a href="#">Événements artistiques</a></li>
          <li><a href="#">Événements musicaux</a></li>
          <li><a href="#">Événements touristiques</a></li>
        </ul>
      </div>

      <!-- Planification -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="footer-heading">Planifiez</h5>
        <ul class="list-unstyled footer-links footer-list">
          <li><a href="#">Vendre des billets</a></li>
          <li><a href="#">Gestion d'événements</a></li>
          <li><a href="#">Inscription gratuite</a></li>
        </ul>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="row footer-bottom">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0">Copyright © 2024 SEN-EVENT</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <div class="social-icons">
          <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
